@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-container: var(--surface-container);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);

  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
}
