@layer base {
  :root,
  [data-theme='light'],
  [data-theme*='light'] {
    color-scheme: light;

    /* Color Onyx */
    --onyx-050: oklch(96.29% 0.003 228.78);
    --onyx-100: oklch(92.52% 0.005 214.33);
    --onyx-200: oklch(84.85% 0.011 219.6);
    --onyx-300: oklch(77.05% 0.016 218.09);
    --onyx-400: oklch(69.07% 0.021 217.31);
    --onyx-500: oklch(60.84% 0.027 219.01);
    --onyx-600: oklch(51.9% 0.022 217.44);
    --onyx-700: oklch(42.51% 0.018 218.3);
    --onyx-800: oklch(32.57% 0.013 219.9);
    --onyx-900: oklch(21.84% 0.006 214.43);
    --onyx-950: oklch(18.39% 0.005 219.75);

    /* Color Verdigris */
    --verdi-050: oklch(98.04% 0.027 188.33);
    --verdi-100: oklch(96.36% 0.052 188.95);
    --verdi-200: oklch(93.49% 0.097 187.62);
    --verdi-300: oklch(91.46% 0.131 186.16);
    --verdi-400: oklch(90.26% 0.152 184.47);
    --verdi-500: oklch(89.75% 0.16 182.42);
    --verdi-600: oklch(75.87% 0.135 182.58);
    --verdi-700: oklch(61.31% 0.109 182.82);
    --verdi-800: oklch(45.83% 0.081 183.28);
    --verdi-900: oklch(28.86% 0.051 184.47);
    --verdi-950: oklch(23.39% 0.041 184.07);

    --background: var(--onyx-050);
    --foreground: var(--onyx-800);

    --surface: var(--background);
    --on-surface: var(--foreground);
    --surface-container: var(--onyx-100);

    --primary: var(--verdi-600);
    --on-primary: var(--verdi-100);

    --secondary: var(--onyx-700);
    --on-secondary: var(--onyx-050);

    --tertiary: var(--onyx-500);
    --on-tertiary: var(--onyx-050);
  }

  .dark,
  [data-theme='dark'],
  [data-theme*='dark'] {
    color-scheme: dark;

    --background: var(--onyx-950);
    --foreground: var(--onyx-200);

    --surface: var(--background);
    --on-surface: var(--foreground);
    --surface-container: var(--onyx-900);

    --primary: var(--verdi-400);
    --on-primary: var(--verdi-900);

    --secondary: var(--onyx-300);
    --on-secondary: var(--onyx-950);

    --tertiary: var(--onyx-500);
    --on-tertiary: var(--onyx-050);
  }
}
